<%- include ("template/head.ejs", {title: "Usuario"}); %>

<body class="body">

  <%- include ("template/header.ejs"); %>

  <%- include ("template/nav.ejs"); %>

  <main class="main">

    <div class="usuario Information">
            <p> Username: <%= Username %> </p>
            <p> Nombre: <%= Nombre %> </p>
            <p> Apellido: <%= Apellido %> </p>
            <p> Email: <%= Email %> </p>
            <p> Año de nacimiento: <%= Date %> </p>
            <p> ID: <%= id %> </p>

    </div>

    <section class="Actualizar-Usuario">
        <form  action="/usuarios/update/<%= id %>" id="" method="post">


            <label for="name">Nombre:</label>
            <input type="text" name="nombre" id="name_update" required>
            <label for="lastname">Apellido:</label>
            <input type="text" name="lastname" id="lastname_update"  required>
            <label for="number"> Año de nacimiento: </label>
            <input type="number" name="number" id="number_update" required>


            <input class="login-form-button" type="submit" value="update" onclick="" id="">
             
        </form>

        <div class="container-login-singup">

          <section class="section-login">
                  
                  <form id="loginform" action="/usuarios/login" method="Post">
                      <legend>Log In</legend>
                      <label>Mail</label>
                      <input type="email" name="email" placeholder="Email" id="email_login" required autofocus>
                      <label>Contraseña</label>
                      <input type="password" name="password" placeholder="Contraseña" id="password_login" required autofocus>
                      <input class="login-form-button" type="submit" value="Ingresar" onlick="" id="conectar">
                  </form>
              </section>
      
              <section class="section-signup">
                  
                  <form id="signupform" action='/usuarios/create' method="POST">
                      <legend>ESTE</legend>
                      <label>Nombre</label>
                      <input type="text" name="nombre" placeholder="Guido Fossati" id="name_signup" required autofocus>
                      <label>Mail</label>
                      <input type="email" placeholder="Tiddy@gmail.com" name="email" id="email_signup" required>
                      <label>Contraseña</label>
                      <input type="password" name="password"  placeholder="QueNoSea123PorFavor" id="password_signup" required>
                      <input class="login-form-button" type="submit" value="Registrar" onclick="" id="registrar">
                  </form>

                  <form id="form_eliminar" action="/usuarios/delete/<%= id %>" method="delete">
                      <legend>Eliminar</legend>
                      <label>Email</label>
                      <input type="email" name="email" placeholder="Tiddy@gmail.com" id="email_eliminar" required>
                      <label>Contraseña</label>
                      <input type="password" name="password"  placeholder="QueNoSea123PorFavor" id="password_eliminar" required>
                      <input class="login-form-button" type="submit" value="Eliminar" onclick="" id="eliminar">

                  </form>
      
              </section>

        
    </section>       
</main>


    <script src="/Js/index.js"></script>
  <%- include ("template/footer.ejs"); %>

  
</body>