<%- include ("template/head.ejs", {title: "Usuario"}); %>

<body class="body">

  <%- include ("template/header.ejs"); %>

  <%- include ("template/nav.ejs", {active: "usuarios"}); %>

  <main class="main">

    <div class="usuario Information">
            <p> Nombre de Usuario: <%= Username %> </p>
            <p> Nombre: <%= Nombre %> </p>
            <p> Apellido: <%= Apellido %> </p>
            <p> Email: <%= Email %> </p>
            <p> Año de nacimiento: <%= Date %> </p>

    </div>

    <section class="Actualizar-Usuario">
        <form  action="/usuarios/update/" id="form_update" method="post">


            <label for="name">Nombre:</label>
            <input type="text" name="nombre" id="name_update" required>
            <label for="lastname">Apellido:</label>
            <input type="text" name="lastname" id="lastname_update"  required>
            <label for="number"> Año de nacimiento: </label>
            <input type="number" name="number" id="number_update" required>


            <input class="login-form-button" type="submit" value="update" onclick="" id="">
             
        </form>

        <div class="container-login-singup">
      
              <section class="section-signup">
                  <form id="form_eliminar" action="/usuarios/delete" method="post">
                      <legend>ELIMINAR CUENTA</legend>                  
                      <input class="login-form-button" type="submit" value="ELIMINAR">
                  </form>
              </section>

        
    </section>       
</main>

  <%- include ("template/footer.ejs"); %>

  
</body>