<%- include ("template/head.ejs", {title: "Usuario"}); %>

<body class="body">

  <%- include ("template/header.ejs"); %>

  <%- include ("template/nav.ejs", {active: "usuarios", navUser:"display", user: " "}); %>

  <main class="main user">

    <div class="userInformation">
            <p> Nombre de Usuario: <b><%= username %></b>  </p>
            <p> Nombre: <b><%= nombre %></b> </p>
            <p> Apellido: <b><%= apellido %></b> </p>
            <p> Email: <b><%= email %></b>  </p>
            <p> Año de nacimiento: <b><%= date %></b> </p>
    </div>

    <form class="updateUser"  action="/usuarios/update/" id="form_update" method="post">

    <legend>Actualizar Informacion</legend>
		<label for="name">Nombre:</label>
		<input type="text" name="nombre" id="name_update" required>
		<label for="lastname">Apellido:</label>
		<input type="text" name="lastname" id="lastname_update"  required>
		<label for="number"> Año de nacimiento: </label>
		<input type="number" name="number" id="number_update" required>

		<input class="updateButton" type="submit" value="update" onclick="" id=""> 
    </form>
    
    <form class="deleteUser" id="form_eliminar" action="/usuarios/delete" method="post">
		<legend>ELIMINAR CUENTA</legend>                  
			<input class="login-form-button" type="submit" value="ELIMINAR">
      <p>Se perderan los Datos y las Tareas sin oportunidad de recuperacion</p>
		</form>
    

        
       
</main>

  <%- include ("template/footer.ejs"); %>

  
</body>